@model IList<Inmobiliaria.Models.Inmuebles>

@{
    ViewData["Title"] = "Inmuebles";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-center mb-4">
    <h1 class="display-4">Listado de Inmuebles Inactivos</h1>
</div>

<div class="col">
    <div class="container">
        <div class="table-responsive">
            <table id="tblInmuebles" class="table table-sm table-hover table-light text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Direccion</th>
                        <th>Uso</th>
                        <th>Tipo</th>
                        <th>Ambientes</th>
                        <th>Precio</th>
                        <th>Ubicacion</th>
                        <th>Activo</th>
                        <th>Disponible</th>
                        <th>Propietario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var inmueble in Model)
                    {
                        <tr>
                            <td>@(inmueble.Direccion)</td>
                            <td>@(inmueble.Uso)</td>
                            <td>@(inmueble?.Tipo?.Tipo)</td>
                            <td>@(inmueble?.Cantidad_Ambientes)</td>
                            <td>@(inmueble?.Precio_Alquiler)</td>
                            <td><a href="https://www.google.com/maps/search/?api=1&amp;query=@inmueble?.Latitud,@inmueble?.Longitud"
                                    target="_blank">
                                    <span class="material-symbols-outlined">
                                        home_pin
                                    </span>
                                </a>
                            </td>
                            <td> @* Condicional switch para saber si esta activo o no *@
                                @if (inmueble?.Activo == true)
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="switchActivo-@(inmueble.Id_inmueble)" checked disabled>
                                        <label class="form-check-label" for="switchActivo-@(inmueble.Id_inmueble)"></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="switchActivo-@(inmueble.Id_inmueble)" disabled>
                                        <label class="form-check-label" for="switchActivo-@(inmueble.Id_inmueble)"></label>
                                    </div>
                                }
                            </td>
                            <td> @* Condicional switch para saber si esta activo o no *@
                                @if (inmueble.Disponible)
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="switchDisponible-@(inmueble.Id_inmueble)" checked disabled>
                                        <label class="form-check-label" for="switchDisponible-@(inmueble.Id_inmueble)"></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="switchDisponible-@(inmueble.Id_inmueble)" disabled>
                                        <label class="form-check-label" for="switchDisponible-@(inmueble.Id_inmueble)"></label>
                                    </div>
                                }
                            </td>
                            <td>@($"{inmueble?.Propietarios?.Nombre} {inmueble?.Propietarios?.Apellido}" ?? "")</td>
                            <td name="Acciones">
                                <a class="material-symbols-outlined" asp-controller="Inmuebles" asp-action="EditarInmueble"
                                    asp-route-Id="@inmueble?.Id_inmueble" title="Editar Inmueble" asp-route-viewName="ListadoInmueblesInactivos">edit_note</a>
                                <a class="material-symbols-outlined" href="#"
                                    onclick="confirmarEliminacion(@inmueble?.Id_inmueble ?? 0)"
                                    title="Borrar Inmueble">delete</a>
                                <a class="material-symbols-outlined" asp-controller="Inmuebles" asp-action="DetallesInmueble"
                                    asp-route-Id="@inmueble?.Id_inmueble" title="Detalles Inmueble">info</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script src="/js/DataTable.js" asp-append-version="true"></script>
