@model IList<Inmobiliaria.Models.Propietarios>

@{<!-- Titulo y Alert -->
    ViewData["Title"] = "Propietarios";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
       <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="text-center mb-4">
    <h1 class="display-4">Listado de Propietarios</h1>
    
</div>

<div class="row">
    <div class="col-2">
        <div class="mb-3">
        <a class="btn btn-primary material-symbols-outlined left" asp-controller="Propietarios" asp-action="CrearPropietario"
            title="Crear Propietario">person_pin_circle</a>
    </div>
    </div>
    <div class="col-10">
        <div class="container">
            <div class="table-responsive">
                <table id="tblPropietarios" class="table table-sm table-hover table-light text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>DNI</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        @foreach (var propietario in Model)
                        {
                            <tr>
                                <td>@propietario.Nombre</td>
                                <td>@propietario.Apellido</td>
                                <td>@propietario.Dni</td>
                                <td>@propietario.Direccion</td>
                                <td>@propietario.Telefono</td>
                                <td>@propietario.Correo</td>
                                <td>
                                    <a class="material-symbols-outlined" asp-controller="Propietarios"
                                        asp-action="EditarPropietario" asp-route-id="@propietario.Id_Propietario"
                                        title="Editar">edit_note</a> |
                                    <a class="material-symbols-outlined" asp-controller="Propietarios"
                                        asp-action="EliminarPropietario" asp-route-id="@propietario.Id_Propietario"
                                        title="Eliminar">delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
